body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0e0b16;
    color: #a239ca;
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1b24;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 1.5em;
    color: #e7dfdd;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #e7dfdd;
    text-decoration: none;
}

.auth-buttons button {
    background-color: #a239ca;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.auth-buttons button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url('../img/hero-background.jpg') no-repeat center center/cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: transparent; /* Quitamos el fondo negro */
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: slide-in 2s ease-out forwards;
    opacity: 0; /* Initial state for the fade-in effect */
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #a239ca;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.content-section {
    margin: 40px 0;
}

.content-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.content-item {
    background-color: #28223f;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.content-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

